.App {
  height: 100vh;
}

.light-bg {
  background-image: url("assets/day.jpg_large");
  background-repeat: no-repeat;
  background-size: cover;
}

.dark-bg {
  background-image: url("assets/night.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.toggle-btn {
  background: none;
  border: solid #f1ae04 1px;
  font-size: 24px;
  cursor: pointer;
  color: #f1ae04;
}

.content-row {
  margin: 400px 0 0 0;
}

.contact-row {
  display: flex;
  justify-content: space-around;
  margin: 20px 0 0 0;
}
