.App {
  height: 100vh;
}

.light-bg {
  background-image: url("assets/day.jpg_large");
  background-repeat: no-repeat;
  background-size: cover;
}

.dark-bg {
  background-image: url("assets/night.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.light-btn {
  border: none;
  border-radius: 50px;
  background: #dd8530;

  font-size: 24px;
  cursor: pointer;
  align-self: end;
  margin: 0 20px 0 0;
  padding: 0 0.5rem 0.5rem 0.5rem;
}

.dark-btn {
  border: none;
  border-radius: 50px;
  background: #383251;

  font-size: 24px;
  cursor: pointer;
  align-self: end;
  margin: 0 20px 0 0;
  padding: 0 0.5rem 0.5rem 0.5rem;
}

.content-row {
  margin: 400px 0 0 0;
}

.contact-row {
  display: flex;
  justify-content: space-around;
  margin: 20px 0 0 0;
}
